<!DOCTYPE html>
<html>
<head>
  <title>DecisionLogicRails</title>
  <%= stylesheet_link_tag    "decision_logic_rails/application", :media => "all" %>
  <%= javascript_include_tag "decision_logic_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
